body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

input {
  font-family: "Open Sans", sans-serif;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

#identity-selection,
#protocol-selection {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
}

.selection-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 50px 0 70px;
  font-size: 20px;
}

.selection-buttons {
  height: 100px;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
}

.selection-buttons button {
  flex-grow: 1;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  border: 3px solid #5885ff;
  background: transparent;
}

.selection-buttons button span {
  font-size: 30px;
  display: block;
  font-weight: 700;
  margin-top: 10px;
}

.selection-buttons button:hover {
  background: #5885ff;
  color: white;
}

.selection-buttons button:not(:last-child) {
  margin-right: 20px;
}

.title {
  background: #5885ff;
  padding: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

#messages {
  padding: 10px;
  height: 250px;
  overflow-y: scroll;
}

.message {
  display: flex;
  margin-bottom: 5px;
}

.message span {
  background: #e8e8e8;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}

.message--me {
  justify-content: flex-end;
}

.message--me span {
  background: #5885ff;
  color: white;
}

form {
  display: flex;
  width: 100%;
}

input[type="text"] {
  flex-grow: 1;
  padding: 15px;
  border: 0;
  border-top: 1px solid #5885ff;
}

input[type="submit"] {
  text-transform: uppercase;
  padding: 15px 20px;
  border: 0;
  background: #5885ff;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
